<div class="header" fxLayoutAlign="center center">
  <div class="header-content" fxLayout="row" fxLayoutAlign="space-between">
    <div class="title">Bitch</div>

    <div *ngIf="isLoggedIn$ | async; else authButtons">
      <span class="username">{{username}}</span>
      <button mat-raised-button (click)="logout()">Logout</button>
    </div>

    <ng-template #authButtons>
      <div class="buttons">
        <a mat-raised-button routerLink="/login">Login</a>
        <a mat-raised-button routerLink="/register">Register</a>
      </div>
    </ng-template>

  </div>
</div>

<div class="container" fxLayoutAlign="center center">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
