<div class="register" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutAlign="center">
    <mat-card-title>Register</mat-card-title>
    <form class="register-form" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input [(ngModel)]="username"
               matInput
               placeholder="Username"
               [formControl]="usernameFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Login is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="password"
               matInput
               placeholder="Password"
               type="password"
               [formControl]="passwordFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="confirmPassword"
               matInput
               placeholder="Confirm password"
               type="password"
               [formControl]="confirmPasswordFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <button
      [disabled]="usernameFormControl.hasError('required') || passwordFormControl.hasError('required') || confirmPasswordFormControl.hasError('required')"
      mat-raised-button
      (click)="register()">
      Register
    </button>

  </mat-card>
</div>
